node_modules
*.log
*.heapsnapshot
.metadata
.settings
.project
coverage/**
.idea
*.*~
*.iml
atlassian-ide-plugin.xml
test/integration
test/reports
*.deb
*.orig
app.js
tests.json
results.html
*test.json